{% macro header(current_section) -%}
{# TODO: Code for dark - light modes #}
<header class="header">
    <nav class="nav">
        <div class="logo">
            {% if config.title -%}
            <a href="/" accesskey="h" title="{{ config.title }}">
                {# TODO: Add icon #}
                {{- config.title }}
            </a>
            {% endif -%}
            <span class="logo-switches">
                {# TODO: Dark - Light theme toggle #}
                {# TODO: Multi language support #}
            </span>
        </div>
        <ul id="menu">
            {% for item in config.extra.menu.main -%}
            <li>
                {# TODO: Add accesskey #}
                <a href="{{ item.href | safe }}" title="{{ item.name }}">
                    <span {% if item.href == current_section %} class="active" {% endif %}>
                        {{- item.name -}}
                    </span>
                </a>
            </li>
            {%- endfor %}
        </ul>
    </nav>
</header>
{% endmacro %}