{% import 'macros/head.html' as macros_head -%}
{% import 'macros/header.html' as macros_header -%}
{% import 'macros/footer.html' as macros_footer -%}
<!DOCTYPE html>
<html lang="en">

<head>
  {{- macros_head::head() }}
  {{- macros_head::stylesheet() -}}
</head>

{# TODO: Add dark mode support #}
<body class="list" id="top">
  {{- macros_header::header(current_section=current_path | default(value="")) -}}
  <main class="main">
    {%- block main %} 
    {% endblock main -%}
  </main>
  {{ macros_footer::footer() }}
</body>

</html>